@import "tailwindcss";
@import "./assets/animations.css";

@theme {
    --breakpoint-*: initial;
    --breakpoint-xs: 320px;
    --breakpoint-sm: 480px;
    --breakpoint-md: 600px;
    --breakpoint-lg: 768px;
    --breakpoint-xl: 1024px;
    --breakpoint-2xl: 1280px;
}

body {
    min-width: 320px !important;
}

:root {
    max-width: 100dvw;
}

.default-button {
    display: flex;
    align-items: center;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: currentColor;
    background-color: transparent;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-weight: 400;
    text-transform: none;
    color: rgb(0, 63, 235);
    opacity: 1;
    box-shadow: 0px 3px 3px 0px rgb(0, 0, 0, 0.3);
    cursor: pointer;
}

.default-button:hover {
    box-shadow: 0px 5px 3px 0px rgb(0, 0, 0, 0.3);
}

.default-button > svg {
    margin-left: 2px;
}

.current-sort-button {
    background-color: rgb(0, 63, 235);
    color: rgba(254, 254, 254, 1);
}

.bubble {
    z-index: 2;
    position: relative;
    height: auto;
    padding: 15px;
    background: #d8d8d8;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 20px;
}

.author-comment {
    z-index: 2;
    color: white;
    background-color: #218aff;
}

.bubble:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
}

.bubble:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -7px;
    height: 20px;
    width: 20px;
    background: #d8d8d8;
    border-bottom-right-radius: 15px;
}

.author-comment:after {
    border-color: transparent #218aff;
}
.author-comment::before {
    background: #218aff;
}

a {
    color: #1650bb;
    font-weight: 600;
}
a:hover {
    text-decoration: underline;
}

.card:hover {
    text-decoration: none;
}
